h1 {
  font-size: 120%;
}

h2 {
  font-size: 100%;
  margin-top: -7px;
}

body {
  margin: 20px 0 20px 0;
}

#scatter-plot {
  width: 900px;
  height: 600px;
  margin: auto;
}

#title {
  height: 50px;
  text-align: center;
}

.dot {
  opacity: 0.8;
  stroke: black;
}

#tooltip {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 180px;
  background: #ddd;
  opacity: 0.8;
  border: 1px solid;
  font-size: 90%;
}