<div id="main-box" :class="size === 'small' ? 'small' : size === 'medium' ? 'medium' : 'big'">
  <div id="control-box">
    <select v-model="size" @change="changeField(size)">
      <option value="small" selected>Easy</option>
      <option value="medium">Intermediate</option>
      <option value="big">Advanced</option>
    </select>
  </div>
  <div id="field-box">
    <cell
      v-for="(item, index) in field"
      :content="item.content"
      :index="index"
      :hidden="item.hidden"
      :marked="item.marked"
      :questioned="item.questioned"
      :size="size"
      :key="index"
      @click.right.native.prevent
      @disclose-cell="discloseCell(index)"
      @mark-cell="markCell(index)"
    ></cell>
  </div>
</div>
