.cell {
  width: 27px;
  height: 27px;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small {
  width: 251px; /*cell * 9 + 8*/
  height: 321px; /*cell * 9 + 3 + 75*/
}

.medium {
  width: 447px; /*cell * 16 + 15*/
  height: 510px; /*cell * 16 + 3 + 75*/  
}

.big {
  width: 839px; /*cell * 30 + 29*/
  height: 510px; /*cell * 16 + 3 + 75*/   
}

#main-box {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: whitesmoke;
  border: 1px solid;
  user-select: none;
}

#control-box {
  height: 75px;
  width: 100%;
}

#field-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex: 1;
}
