body {
  margin: 20px 0 20px 0;
}

#title {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 120%;
}

#bar-chart {
  width: 900px;
  height: 600px;
  margin: auto;
}

.bar:hover {
  fill: #808080;
}

#tooltip {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 120px;
  height: 50px;
  background: #ddd;
  opacity: 0.8;
  border: 1px solid;
}